<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <!--<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>-->
	<title>Dies ist der Testtitel</title>
</head>
<body>
<br>
<button id="testBtn" onclick="test(1)">Kreis 1</button>
<button id="testBtn" onclick="test(2)">Kreis 2</button>
<button id="testBtn" onclick="test(3)">Kreis 3</button>
<button id="testBtn" onclick="test(4)">Kreis 4</button>
<button id="testBtn" onclick="test(5)">Kreis 5</button>
<button id="testBtn" onclick="pump()">Pumpe</button>
<button id="testBtn" onclick="valve(1)">Ventil1</button>
<button id="testBtn" onclick="valve(2)">Ventil2</button>
<button id="testBtn" onclick="valve(3)">Ventil3</button>
<button id="testBtn" onclick="valve(4)">Ventil4</button>
<button id="testBtn" onclick="valve(5)">Ventil5</button>
<button id="testBtn" onclick="valve(6)">Ventil6</button>
Deg:<input id="deg" type="number" size="3" maxlength="3"/>
r:<input id="r" type="number" size="3" />
<button onclick="calcBezierPoints($('#deg').val(), $('#r').val())">Bezier</button>
<svg id="svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0"
  y="0"
  width="1200px"
  height="1200px">
  <defs>
  </defs>
  <!-- solar panel -->
  <g id="solar-panel" transform="translate(90,150)">
    <g transform="skewX(-20)">
      <rect x="0" y="0" width="200" height="100" rx="10" ry="10"/>
      <line x1="0" y1="33.33" x2="200" y2="33.33"/>
      <line x1="0" y1="66.67" x2="200" y2="66.67"/>
      <line x1="66.67" y1="0" x2="66.67" y2="100"/>
      <line x1="133.33" y1="0" x2="133.33" y2="100"/>
    </g>

    <g class="thermo" transform="translate(100,-20)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
    <text x="70" y="120">Solarpanel</text>
  </g>
  <g id="sun" transform="translate(50,75)">
    <line x1="25" y1="0" x2="50" y2="0"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(30)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(60)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(90)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(120)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(150)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(180)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(210)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(240)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(270)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(300)"/>
    <line x1="25" y1="0" x2="50" y2="0" transform="rotate(330)"/>
    <circle cx="0" cy="0" r="25" />
  </g>
  <g class="ball_valve" id="ball_valve1" transform="translate(100,500)">
    <g  transform="rotate(90)">
      <path d="M -7.5,3.75 L -25,12.5 L -25,-12.5 L -7.5,-3.75 " />
      <path d="M 7.5,-3.75 L 25,-12.5 L 25,12.5 L 7.5,3.75 " />
      <circle cx="0" cy="0" r="7.5"/>
    </g>
    <text x="15" y="5">KV1</text>
  </g>

  <g class="ball_valve" id="ball_valve2" transform="translate(850,250)">
    <g  transform="rotate(90)">
      <path d="M -7.5,3.75 L -25,12.5 L -25,-12.5 L -7.5,-3.75 " />
      <path d="M 7.5,-3.75 L 25,-12.5 L 25,12.5 L 7.5,3.75 " />
      <circle cx="0" cy="0" r="7.5"/>
    </g>
    <text x="15" y="5">KV2</text>
  </g>

  <g class="pump" id="pump1" transform="translate(100,600) rotate(-90)">
    <circle cx="0" cy="0" r="25"/>
    <path d="M -2,-23 L 23,0 L -2,23 z">
      <animate class="animatePump" attributeName="d"
        begin="shape.click"
        from="M -2,-23 L 23,0 L -2,23 z"
        to="M -2,23 L 23,0 L -2,-23 z"
        dur="1s"
        repeatCount="indefinite"
      />
    </path>
  </g>

  <g class="reservoir" id="pool" transform="translate(200,400)">
    <rect x="0" y="0" width="100" height="150" rx="20" ry="20"/>
    <text x="55" y="-5">Pool</text>
  </g>

  <g class="reservoir" id="reservoir1" transform="translate(350,400)">
    <rect x="0" y="0" width="100" height="150" rx="20" ry="20"/>
    <g class="thermo" transform="translate(40,90)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
    <text x="55" y="-25" >Arbeits-</text>
    <text x="55" y="-5" >speicher 1</text>
  </g>

  <g class="reservoir" id="reservoir2" transform="translate(500,400)">
    <rect x="0" y="0" width="100" height="150" rx="20" ry="20"/>
    <text x="55" y="-25" >Arbeits-</text>
    <text x="55" y="-5" >speicher 2</text>
    <g class="thermo" transform="translate(40,90)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
  </g>

  <g class="reservoir" id="buffer1" transform="translate(650,475)">
    <rect x="0" y="0" width="100" height="75" rx="20" ry="20"/>
    <text x="55" y="-25" >Puffer-</text>
    <text x="55" y="-5" >speicher 1</text>
    <g class="thermo" transform="translate(40,55)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
  </g>

  <g class="reservoir" id="buffer2" transform="translate(800,400)">
    <rect x="0" y="0" width="100" height="150" rx="20" ry="20"/>
    <text x="55" y="-25" >Puffer-</text>
    <text x="55" y="-5" >speicher 2</text>
    <g class="thermo" transform="translate(40,90)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
  </g>

  <g class="reservoir" id="buffer3" transform="translate(950,400)">
    <rect x="0" y="0" width="100" height="150" rx="20" ry="20"/>
    <text x="55" y="-25" >Puffer-</text>
    <text x="55" y="-5" >speicher 3</text>
    <g class="thermo" transform="translate(40,90)">
      <path transform="scale(0.75)" style="stroke: none; fill: #000000;" d="m 5,-8.66 c 3.094,1.786 5,5.087 5,8.66 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-3.573 1.906,-6.874 5,-8.66 v 0,-31.34 c 0,-2.759575 2.240425,-5 5,-5 c 2.759575,0 5,2.240425 5,5 v 0,31.34 z"/>
      <path  style="stroke-width: 2.5;" d="m 7.071,-7.071 c 1.875,1.875 2.929,4.419 2.929,7.071 c 0,5.51915 -4.48085,10 -10,10 c -5.51915,0 -10,-4.48085 -10,-10 c 0,-2.652 1.054,-5.196 2.929,-7.071 v 0,-35 c 0,-3.90259 3.16841,-7.071 7.071,-7.071 c 3.90259,0 7.071,3.16841 7.071,7.071 v 0,35 z"/>
      <text x="10" y="-20">35&deg;C</text>
    </g>
  </g>

  <g class="valve" id="valve1" transform="translate(250,625)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V1</text>
  </g>

  <g class="valve" id="valve2" transform="translate(475,725)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V2</text>
  </g>

  <g class="valve" id="valve3" transform="translate(850,725)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V3</text>
  </g>

  <g class="valve" id="valve4" transform="translate(700,625)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V4</text>
  </g>

  <g class="valve" id="valve5" transform="translate(850,625)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V5</text>
  </g>

  <g class="valve" id="valve6" transform="translate(1000,625)">
    <path transform="rotate(90)" d="M 0,0 L -25,12.5 L -25,-12.5 L 0,0 L 25,-12.5 L 25,12.5 L 0,0 z " />
    <text x="15" y="5">V6</text>
  </g>

  <g id="wires">
    <!-- lower half from left to right-->
    <line class="wire solarCircle1 solarCircle2 solarCircle3 solarCircle4 solarCircle5" x1="100" y1="475" x2="100" y2="250"/>
    <line class="wire solarCircle1 solarCircle2 solarCircle3 solarCircle4 solarCircle5" x1="100" y1="575" x2="100" y2="525"/>
    <polyline class="wire solarCircle1 solarCircle2 solarCircle3 solarCircle4 solarCircle5" points=" 250,825 100,825 100,625"/>
    <line class="wire solarCircle1" x1="250" y1="550" x2="250" y2="600"/>
    <line class="wire solarCircle1" x1="250" y1="650" x2="250" y2="825"/>
    <line class="wire solarCircle2 solarCircle3 solarCircle4 solarCircle5" x1="475" y1="825" x2="250" y2="825"/>
    <polyline class="wire solarCircle2" points="400,550 400,675 475,675"/>
    <polyline class="wire solarCircle2" points="550,550 550,675 475,675"/>
    <line class="wire solarCircle2" x1="475" y1="675" x2="475" y2="700"/>
    <line class="wire solarCircle2" x1="475" y1="750" x2="475" y2="825"/>
    <line class="wire solarCircle3 solarCircle4 solarCircle5" x1="850" y1="825" x2="475" y2="825"/>
    <line class="wire solarCircle3" x1="700" y1="550" x2="700" y2="600"/>
    <polyline class="wire solarCircle3" points="700,650 700,675 850,675"/>
    <line class="wire solarCircle4" x1="850" y1="550" x2="850" y2="600"/>
    <line class="wire solarCircle4" x1="850" y1="650" x2="850" y2="675"/>
    <line class="wire solarCircle5" x1="1000" y1="550" x2="1000" y2="600"/>
    <polyline class="wire solarCircle5" points="1000,650 1000,675 850,675"/>
    <line class="wire solarCircle3 solarCircle4 solarCircle5" x1="850" y1="675" x2="850" y2="700"/>
    <line class="wire solarCircle3 solarCircle4 solarCircle5" x1="850" y1="750" x2="850" y2="825"/>
    <!-- upper half-->
    <polyline class="wire solarCircle1 solarCircle2 solarCircle3 solarCircle4 solarCircle5" points="270,200 850,200 850,225"/>
    <line class="wire solarCircle1 solarCircle2 solarCircle3 solarCircle4 solarCircle5" x1="850" y1="275" x2="850" y2="300"/>
    <line class="wire solarCircle1 solarCircle2" x1="850" y1="300" x2="475" y2="300"/>
    <polyline class="wire solarCircle1" points="475,300 250,300 250,400"/>
    <line class="wire solarCircle2" x1="475" y1="300" x2="475" y2="350"/>
    <polyline class="wire solarCircle2" points="475,350 400,350 400,400"/>
    <polyline class="wire solarCircle2" points="475,350 550,350 550,400"/>
    <line class="wire solarCircle3 solarCircle4 solarCircle5" x1="850" y1="300" x2="850" y2="350"/>
    <polyline class="wire solarCircle3" points="850,350 700,350 700,475"/>
    <line class="wire solarCircle4" x1="850" y1="350" x2="850" y2="400"/>
    <polyline class="wire solarCircle5" points="850,350 1000,350 1000,400"/>
  </g>

  <g id="nodes">
    <circle class="node" cx="0" cy="0" r="4" transform="translate(850,300)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(850,350)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(850,675)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(475,300)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(475,350)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(475,675)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(475,825)"/>
    <circle class="node" cx="0" cy="0" r="4" transform="translate(250,825)"/>
  </g>
</svg>
</body>
</html>
